.top-bar {
  background: #6abedb;
  color: #3c2e3d; }
  .top-bar ul.menu {
    background: #6abedb; }
    .top-bar ul.menu .li {
      background: #6abedb;
      border-bottom: 3px solid transparent; }
      .top-bar ul.menu .li a {
        background: #6abedb; }
    .top-bar ul.menu .active {
      border-bottom: 3px solid #3c2e3d; }
      .top-bar ul.menu .active a {
        color: #3c2e3d;
        background: #6abedb; }

.footer {
  margin-top: 3rem;
  margin-bottom: 0;
  padding: 2rem;
  background: #6abedb; }
  .footer ul.breadcrumbs {
    border-left: 2px solid #3c2e3d; }
    .footer ul.breadcrumbs li a {
      color: #3c2e3d; }
    .footer ul.breadcrumbs li::after {
      color: #3c2e3d; }
    .footer ul.breadcrumbs li:nth-child(1) {
      padding-left: 4px; }
  .footer ul.social-icons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center; }
    .footer ul.social-icons li {
      margin-left: 0.5em;
      margin-right: 0.5em;
      transition: all 0.5s ease-out; }
      .footer ul.social-icons li:hover {
        transform: translateY(-15px) scale(2) rotate(10deg);
        z-index: 1; }

body {
  background: #faf1ef; }

a {
  color: #3c2e3d;
  transition: all 0.5s ease-out; }
  a:hover {
    color: #da9385; }

.home-img figure {
  padding: 0.2rem;
  background: #3c2e3d;
  border: 4px solid #3c2e3d;
  color: #f0f0f0; }
  .home-img figure figcaption {
    font-size: 1.1em;
    padding-top: 8px; }

.main {
  min-height: 65vh; }

hr {
  color: #59445a;
  border-color: inherit; }

.button {
  background-color: #2b91b4;
  color: #f0f0f0;
  transition: all 0.5s ease-out; }
  .button:hover {
    background-color: #3c2e3d;
    color: #da9385; }

.clean-hero-slider {
  margin-bottom: 3rem; }
  .clean-hero-slider .orbit-caption {
    width: auto;
    height: auto;
    background: #201f1d;
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    padding: 0.2rem 2rem; }
    .clean-hero-slider .orbit-caption h3 {
      color: #6abedb;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0; }
    .clean-hero-slider .orbit-caption p {
      font-size: 0.9rem;
      line-height: 1.25; }
  .clean-hero-slider .orbit-slide {
    padding-bottom: 40%;
    background: #201f1d; }
  .clean-hero-slider .orbit-controls button {
    background: #6abedb;
    padding: 1rem 0.5rem; }
    .clean-hero-slider .orbit-controls button:hover {
      background: #3c2e3d;
      color: #ecc7c0; }
  .clean-hero-slider .orbit-bullets {
    display: none; }
    .clean-hero-slider .orbit-bullets button {
      width: 3rem;
      height: 0.4rem;
      border-radius: 0;
      background-color: #fefefe; }
      .clean-hero-slider .orbit-bullets button.is-active {
        background-color: #6abedb; }
  .clean-hero-slider li.orbit-figure {
    max-height: 300 !important; }

@media print, screen and (min-width: 40em) {
  .clean-hero-slider .orbit-caption {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    text-align: left;
    width: 70%;
    right: 0;
    padding: 1rem 2rem; } }

@media screen and (min-width: 75em) {
  .clean-hero-slider .orbit-caption {
    padding-right: 10%; } }

@media screen and (min-width: 90em) {
  .clean-hero-slider .orbit-caption {
    padding-right: 20%; } }

@media print, screen and (min-width: 40em) {
  .clean-hero-slider .orbit-caption p {
    font-size: 1.1rem; } }

@media print, screen and (min-width: 40em) {
  .clean-hero-slider .orbit-caption h3 {
    font-size: 2.5rem;
    font-weight: normal; } }

@media print, screen and (min-width: 40em) {
  .clean-hero-slider .orbit-slide {
    padding-bottom: 0; } }

@media print, screen and (min-width: 40em) {
  .clean-hero-slider .orbit-bullets {
    display: block;
    margin-bottom: 0;
    margin-top: -3rem;
    background: none; } }
